body{
    font: 16px/135% 'Open Sans', sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 21px;
    line-height: 135%;
    font-family: "Open Sans", sans-serif;
}